[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydentic = "*"
pydantic = "*"
passlib = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
